/* Give your page a fun background color */
body {
    background-color: lightblue;
  } /* added background color */

/* Make the header and footer a different color from the background */
footer {
    background-color: blue;
} /* changed footer to different color than body, darker blue */

/* Align the h1 containing your name in the center of the header*/
h1 {
    text-align: center;
} /* centered h1*/   

ul {
    font-size: 20px; /* changed font for fun */
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; /* changed font family of list */
}

/* Make your p tag a different color and italic */ /*check and check */
p {
    background-color: blueviolet; /*changed  p color */
    font-size: 50px; /* changed size for fun */
    font-style: italic; /* made italic */
    direction: rtl; /* changed side for fun */
}

/* Put a border around your image */
img {
    border: 10px solid blue; /* added border, made it 10px, made it blue */
  }

/* Change the font-family of your list */ /* check - see above */
